<<<<<<< HEAD
<h1>Pirates!!!</h1>
<form method="GET" action="/new">
  <label for="name">Pirate Name:</label>
  <input type="text" name="pirate[name]" id="pirate"><br>
  <label for="weight">Pirate Weight:</label>
  <input type="text" name="pirate[weight]" id="pirate"><br>
  <label for="height">Pirate Height:</label>
  <input type="text" name="pirate[height]" id="pirate"><br><br>
  <!--<input type="submit" value="Submit">-->
  <br><br>
  
  <label for="name">First Ship Name:</label>
  <input type="text" name="pirate[ships][][name]" id="ship_name_1"><br>
  <label for="type">First Ship Type:</label>
  <input type="text" name="pirate[ships][][type]" id="ship_type_1"><br>
  <label for="booty">First Ship Booty:</label>
  <input type="text" name="pirate[ships][][booty]" id="ship_booty_1"><br><br>
  <!--<input type="submit" value="Submit">-->
  <br><br>
  
  <label for="name">Second Ship Name:</label>
  <input type="text" name="pirate[ships][][name]" id="ship_name_2"><br>
  <label for="type">Second Ship Type:</label>
  <input type="text" name="pirate[ships][][type]" id="ship_type_2"><br>
  <label for="booty">Second Ship Booty:</label>
  <input type="text" name="pirate[ships][][booty]" id="ship_booty_2"><br><br>
  <input type="submit" value="Submit"><br><br>
  
=======
<h1>Make your form here</h1>
<form method="GET" action="/new">
  <label for="name">Name</label>
  <input type="text" name="name" id="pirate"><br>
  <label for="weight">Weight</label>
  <input type="text" name="weight" id="pirate"><br>
  <label for="height">Height</label>
  <input type="text" name="height" id="pirate"><br><br>
  <input type="submit" value="Submit">  
>>>>>>> 651904acf10b9cfdcb4b9b413c72e64a50895bf9
</form>

